<div id="content">
    <h1>How secure is my password?</h1>

    <form method="GET">
        <p>
            <input id="p" autocomplete="off" autofocus="autofocus" name="p" placeholder="Enter a super secure password" type="text" />
            <input id="submit" type="submit" value="Check" />
        </p>

        {{#if score}}
        <div class="score"
            <p>"{{password}}" could be brute-forced in</p>
            <h2>{{score}} seconds.</h2>
        </div>
        {{/if}}

        <div class="suggestions">
            <p>
                or try one of these nifty (yet sadly very common) ones:
                <ul>
                    <li><a href="?p=password">password</a></li>
                    <li><a href="?p=passw0rd">passw0rd</a></li>
                    <li><a href="?p=password1234">password1234</a></li>
                </ul>
            </p>
        </div>
    </form>

</div>
