body {
    text-align: center;
    font-family: Arial;
}

#content {
    margin-top: 50px;
}

input {
    border-radius: 3px;
    padding: 10px;
    font-size: 1em;

    /* disable iOS-specific style */
    -webkit-appearance: none;
}

.suggestions {
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
}

.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions a {
    color: #0066bb;
}

.suggestions ul li {
    padding: 5px;
}

input#submit {
    padding-left: 25px;
    padding-right: 25px;

    margin-left: 10px;
    display: inline-block;
    border: 1px solid #0055aa;
    background-color: #0066bb;
    color: white;
    outline: none;
    cursor: pointer;
}

input#submit:focus,
input#submit:hover {
    background-color: #0077cc;
}

input#p {
    width: 300px;
    outline: none;
    border: 1px solid #ccc;
}

.score {
    padding-top: 50px;
}
