body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#content {
    margin-top: 50px;
}

input {
    border-radius: 3px;
    padding: 10px;
    font-size: 1em;

    display: block;
    width: 100%;
    box-sizing: border-box;

    /* disable iOS-specific style */
    -webkit-appearance: none;
}

form p {
    margin: 20px;
}

.suggestions {
    margin: 0 auto;
    margin-top: 50px;
}

.suggestions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions a {
    color: #0066bb;
}

.suggestions ul li {
    padding: 5px;
}

input#submit {
    margin-top: 10px;

    border: 1px solid #0055aa;
    background-color: #0066bb;
    color: white;
    outline: none;
    cursor: pointer;
}

input#submit:focus,
input#submit:hover {
    background-color: #0077cc;
}

input#p {
    outline: none;
    border: 1px solid #ccc;
}

.score {
    margin-top: 50px;
}

@media only screen and (min-width: 768px) {
    #content {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        display: inline;
    }

    #p {
        width: 350px;
    }

    #submit {
        width: 150px;
    }
}
